@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background: #fff2f3;
}

.box {
  width: 99vw;
  height: 889px;
  background-size: cover;
  background-repeat: no-repeat;
}

.box1 {
  background: linear-gradient(90deg, #000000 -6%, #000000 -15%, rgba(0, 0, 0, 0) 127%), url(image/dark-hero-3-cover.png);}

.header {
  width: 1600px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-img {
  width: 315px;
  padding: 13px 42px 13px 0px;
  gap: 10px;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.nav-link a {
  margin-left: 60px;
  text-decoration: none;
  color: white;
}

a#child {
  margin-left: 10px;
}

#nav-main {
  display: flex;
  align-items: baseline;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  gap: 120px;
}

.nav-link {
  display: flex;
}

.nav-btn button {
  margin-left: 40px;
  background: #23A6F0;
  color: #ffffff;
  width: 214px;
  height: 52px;
  padding: 13px 25px 15px 25px;
  gap: 15px;
  border-radius: 5px 5px 5px 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: left;
  border: 2px solid #23A6F0;
}

button img {
  margin-left: 15px;
}


.heading {
  color: white;
  float: left;
  margin: 0 2.5%;
  padding: 10px;
  box-sizing: border-box;
}

.heading:nth-child(1) {
  width: 35%;
  margin-left: 180px;
  margin-top: 150px;
}

.header:nth-child(2) {
  margin-right: 0;
  width: 35%;
}

.heading h5 {
  color: #23A6F0;
  width: 82px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.heading h1 {
  font-family: Montserrat;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.heading h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;

}

.heading button {
  background: #23A6F0;
  color: #ffffff;
  width: 133px;
  height: 52px;
  padding: 13px 25px 13px 25px;
  gap: 15px;
  border-radius: 5px 5px 5px 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: left;
  border: 2px solid #23A6F0;
}

/* their we have strated box2 */
.box2 {
  background-color: #252B42;

}

#heading-2 {
  padding-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 40px;
  height: 202px;
  gap: 10px;
}

h6 {
  color: #23A6F0;
  margin: 0%;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}

h2 {
  color: #ffffff;
  margin: 0px 10px 0px 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}

#heading-2 p {
  color: #ffffff;
  width: 665px;
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}

.img-1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* their we have strated box3 */
.box3 {
  background-color: #252B42;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-line {
  width: 71px;
  height: 7px;
  background-color: red;
}

#heading-3 {
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 40px;
  height: 202px;
  gap: 10px;
}

.contant-2 {
  width: 507px;
  height: 246px;
  gap: 35px;
}

.contant-2 h2 {
  width: 405px;
  height: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: left;
}

.contant-2 p {
  color: #ffffff;
  width: 351px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.contant-2 a {
  margin: 0%;
}

.img-2 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img-3 img {
  width: 429px;
  height: 376px;
}

#heading-3 p {
  color: #ffffff;
  width: 665px;
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}

.box4 {
  background-color: #252B42;
}

#heading-4 {
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 40px;
  height: 202px;
  gap: 10px;
}

#heading-4 p {
  color: #ffffff;
  width: 665px;
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}

.img-3 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-btn input {
  width: 660px;
  height: 55px;
  border-radius: 5px 0px 0px 5px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  border: 1px solid #E6E6E6;

}

.text-btn button {
  width: 117px;
  height: 59px;
  float: right;
  border-radius: 0px 5px 5px 0px;
  background-color: #23A6F0;
  border: 1px solid #23A6F0;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.box5 {
  background: #252B42;
  height: 889px;
}

footer {
  margin-top: 100px;
}

footer h3 {
  color: #ffffff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.col-link a {
  display: flex;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #ffffff;

}

.col-1 p {
  width: 211px;
  height: 40px;
  color: #ffffff;
}

.col {
  width: 150px;
  height: 126px;
  gap: 10px;
}

footer img {
  margin-right: 10px;
}

.box6 {
  background: #FAFAFA;
  width: 1510px;
  height: 76px;
}

.box6 h6 {
  color: #737373;
  padding: 30px 0px 0px 250px;
}